/* ----------------------------
Author: Anders Haig = minim.co
---------------------------- */

/* ----------------------------
		 CSS Reset 
---------------------------- */

html, body, ul, ol, li, form, fieldset, legend {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

/* ----------------------------
		 CSS Styles 
---------------------------- */

/* GLOBAL */
html { font-size: 62.5%; } 

body {
	font-size: 14px; 
	font-size: 1.4rem;
	background:#555;
}

h1 { 
	font-size: 24px; 
	font-size: 2.4rem;
	color:#FFF;
	text-align:center;
}

.clear {
	clear:both;
	display:block;
}

/* STANDARD */
#wrapper {
	width:802px;
	margin:40px auto 40px;
	padding:20px;
	border:1px solid #111;
	background: #FFF;
	/*
	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
			border-radius: 7px;
			*/
	-webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
			box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

#legal {
	position:relative;
}

#chessboard {
	width:600px;
	height:600px;
	border:1px solid #BBB;
	float:left;
}

#chessboard .row {
	
}

#chessboard .square {
	display:block;
	float:left;
	width:75px;
	height:75px;
	background:#FFF;
}

#chessboard .square img {
	width:75px;
	height:75px;
	display:block;
	cursor:move;
}

#chessboard .even {
	background:#DDD;
}

#chessboard .available_drop {
	display:block;
	width:73px;
	height:73px;
	border:1px solid rgba(0,200,50,0.5);
	background:rgba(0,200,50,0.25);
}

#dead {
	margin-left:20px;
	float:left;
	background:#EEE;
	border:1px solid #BBB;
	width:176px;
	height:600px;
}