body {
	background: #F4F4F4;
	margin: 0;
}

#container {
	width: 780px;
	margin: 0 auto;
	background: #FFFFFF;
}

#header {
	padding: 45px 0 20px 40px;
}

#header a {
	color: #121212;
	text-decoration: none;
	font-size: 30px;
	font-family: "Myriad Pro", "Arial Narrow";
}

#menu {
	background-color: #3b7687;
	padding: 6px 0 6px 40px;
}

#menu a {
	color: #c5d6db;
	text-decoration: none;
	font-size: 14px;
	font-family: "Arial Narrow", "Myriad Pro";
}

#menu a:hover {
	color: #ecf2f3;
}

#sidebar {
	float: left;
	width: 120px;
	padding: 30px 0 0 40px;
	margin: 0;
}

h1 {
	margin: 0px;
	color: #869843;
	font-size: 24px;
	font-family: "Arial Narrow", "Myriad Pro";
	font-weight: normal;
}

h2 {
	color: #3b7687;
	font-size: 15px;
	margin: 20px 0 5px 0;
}

#main {
	margin: 0 0 0 180px;
	padding: 35px 40px 30px 0;
	color: #444444;
	font-family: "Georgia";
	font-size: 13px;
	line-height: 18px;
	text-align: justify;
}

#main a {
	color: #3b7687;
	text-decoration: none;
}

#main a:hover {
	color: #444444;
}

#footer {
	padding: 6px 40px 6px 40px;
	background: #d6d6d6;
	font-family: "Lucida Sans Unicode";
	color: #444444;
	font-size: 11px;
	text-align: right;
}

#footer a {
	text-decoration: none;
	color: #262626;
}

#footer a:hover {
	color: #666666;
}

.separator {
	font-size: 11px;
	color: #FFFFFF;
}